text {
    background-color: #ff9999;
    font-family: monospace;
    font-size: 18pt;
    color: #e6e6e6;
    padding: 5px;
    border: 2px;
}

button {
    color: #ff9999;
    font-family: monospace;
    font-size: 18pt;
}
