text {
/*    background-color: #ff9999;*/
    font-family: monospace;
    font-size: 18pt;
    color: red;
    padding: 5px;
/*    border: 2px;*/
}

button {
    color: red;
    font-family: monospace;
    font-size: 18pt;
}

checkbutton {
    color: #ff9999;
    font-family: monospace;
    font-size: 16pt;
}
